@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'NougatExtraBlack';
  src: url('fonts/NougatExtraBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Urbanist', sans-serif;
    background: #fff,;
    color: #000;
    font-size: 1.2rem;
  }

  .strong{
    font-size: 24px;
  }
  .titre{
    font-family: 'NougatExtraBlack';
  }

  .gamemode{
    width: 10%;
    height: auto;
    padding: 2%;
    margin-bottom: 10px;
  }

  h1{
    font-size: 225%
  }

  h2{
    margin-top: 40px;
    font-size: 200%;
  }

  p{
    font-size: 110;
    
  }

  .logo{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  header{
    margin-bottom: 70px;
    text-align: center;
  }

  main {
    padding-bottom: 20px;
  }

  #matchs{
    padding: 20px;
    background-image: url('images/bg1.png');
    color: #fff;
  }

  #open{
    color: #000;
  }

  #inscription{
    margin-top: 6px;
    padding: 30px 0px 40px 0px;
    color: #fff;
    background: linear-gradient(to bottom, #245FC6, #2886EF);
    
  }

  #contact{
    color: #000;
    background-image: url('images/bg3.png');
    padding: 20px;
    margin-top: 10px;
  }
  #pfooter{
    color: #fff;
    background-color: rgba(30, 78, 210, 0.459);
  }

  #footer{
    padding-top: 80px;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-size: 0.8em;
    color: #000;
  }

  #img2{
    width: 100%;
    height: 1%;
    padding-top: 20px;
  }

  #ORGANISATION{
    padding-bottom: 10px;
  }
  
  .email a {
    color: #000;
    background-color: rgba(30, 78, 210, 0.459);
    text-decoration: none;
    font-weight: bold;
  }
  
  #inscriptione {
    list-style: none;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding-left: 20px;
  }

  section{
    text-align: center;
  }

  li{
    padding: 5px;
  }

  @media screen and (max-width: 700px){
    body {
      font-family: 'Urbanist', sans-serif;
      background: #fff,;
      color: #000;
      font-size: 0.8rem;
    }

    header{
      margin-bottom: 20px;
      text-align: center;
    }

    .logo{
      width: 100%;
      height: 100%;
    }

    .titre{
      font-family: 'NougatExtraBlack';
    }
  
    .gamemode{
      width: 7%;
      height: auto;
      padding: 2%;
    }
  
    h1{
      font-size: 175%
    }
  
    h2{
      margin-top: 20px;
      font-size: 150%;
    }
  
    p{
      font-size: 80%;
      
    }
  
    .logo{
      width: 100%;
      height: 100%;
    }
  
    header{
      text-align: center;
    }
  
    #matchs{
      padding: 5px;
      background-image: url('images/bg1.png');
      color: #fff;
    }
  
    #open{
      color: #000;
    }
  
    #inscription{
      margin-top: 6px;
      padding: 30px 0px 40px 0px;
      color: #fff;
      background: linear-gradient(to bottom, #245FC6, #2886EF);
      
    }
  
    #contact{
      color: #000;
      background-image: url('images/bg3.png');
      padding: 20px;
      margin-top: 10px;
    }
    #pfooter{
      color: #fff;
      background-color: rgba(30, 78, 210, 0.459);
    }
  
    #footer{
      padding-top: 80px;
      justify-content: center;
      text-align: center;
      margin-top: 30px;
      font-size: 0.8em;
      color: #000;
    }
  
    #img2{
      width: 100%;
      height: auto;
      padding-top: 20px;
    }
  
    #ORGANISATION{
      padding-bottom: 10px;
    }
    
    .email a {
      color: #000;
      background-color: rgba(30, 78, 210, 0.459);
      text-decoration: none;
      font-weight: bold;
    }
    
    #inscriptione {
      list-style: none;
      text-align: center;
      display: inline-block;
      margin: 0 auto;
      padding-left: 20px;
    }
  
    section{
      text-align: center;
    }
  
    ul {
      text-align: center;
    }
    li{
      padding: 5px;
      font-size: 0.6em;
      text-align: center;
    }
  }
